appdirs==1.4.0
funcsigs==1.0.2
h5py==2.6.0
Keras==1.2.2
mock==2.0.0
numpy==1.12.0
opencv-python==3.2.0.6
packaging==16.8
pbr==1.10.0
pkg-resources==0.0.0
protobuf==3.2.0
py==1.4.32
pygame==1.9.3
pyparsing==2.1.10
pytest==3.0.6
PyYAML==3.12
readchar==0.7
scipy==0.18.1
six==1.10.0
tensorflow==1.0.0
Theano==0.8.2
